name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-24.04
    environment: pypi
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v6
    - uses: jdx/mise-action@v3
    - uses: actions/cache@v4
      with:
        path: ~/.local/share/virtualenvs
        key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
        restore-keys: |
          ${{ runner.os }}-poetry-
    - name: Install pip dependencies
      run: poetry install
    - name: Package
      run: |
        poetry version ${{ github.event.release.tag_name }}
        poetry build
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
